<h1>Names</h1>
<div class="column">
  <form class="column">
    <div class="column elements">
      <div class="column select">
        <select class="form-control" id="name" required
        [(ngModel)]="selectedObject" name="name">
          <option *ngFor="let n of localNames" [value]="n.content">{{n.content}}</option>
        </select>
        <div class="spinner spinner-names" *ngIf="spinnerNames">
          <md-progress-circle mode="indeterminate"></md-progress-circle>
          <!--<md-spinner md-mode="indeterminate"></md-spinner>-->
        </div>
      </div>
      <div class="row radio">
        <md-radio-group [(ngModel)]="selectedGenre" name="genre">
          <md-radio-button *ngFor="let g of genres"
                           [value]="g.value"
                           [disabled]="selectedObject===''">
            {{g.title}}
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>
    <div class="row button">
      <button md-button color="primary" md-raised-button
              (click)="getValues()"
              [disabled]="selectedObject===''">
        Buscar
      </button>
      <div class="spinner spinner-values" *ngIf="spinnerValues">
        <md-progress-circle mode="indeterminate"></md-progress-circle>
        <!--<md-spinner md-mode="indeterminate"></md-spinner>-->
      </div>
    </div>
  </form>

  <div class="results half column" *ngIf="values">
    <div class="values row" *ngFor="let value of values">
      <div class="row third">
        <span>{{value.title}} ({{value.id}})</span>
      </div>
      <div class="row third">
        <div layout="row">
          <span>{{value.total}}</span>
        </div>
      </div>
      <div class="row third">
        <div>
          <span>{{value.percentage}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="map half row" [hidden]="!values">
    <div id="mapdiv" style="width: 100%; background-color:#EEEEEE; height: 500px;"></div>
  </div>
  <div class="no-results" *ngIf="!values || values.length === 0">
    <span>No se encontraron resultados</span>
  </div>
</div>
